body {
	display: grid;
	place-content: center;
	min-height: 100vh;
	gap: 2rem;
}

blockquote {
	max-width: 45ch;
	&:before {
		content: "“"
	}
	&:after {
		content: "”"
	}
}

.hanging::before {
	margin-left: -1ch;
	margin-right: .2ch;
}
.hanging::after {
	margin-left: .2ch;
}